body {
  background-color: #f4f2f3;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.none {
  display: none;
}

.to_do_list_container {
  border: 1px solid #9497ae;
  box-shadow: 0.05rem 0.05rem 2rem;
  width: 40rem;
  height: auto;
  margin: 7rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 1rem;
  border-bottom: 1px solid #c4c6d8;
  background-color: white;
}

h1 {
  margin: 0;
  font-family: Quintessential, sans-serif;
  font-size: 1.8rem;
  color: black;
}

.reload {
  align-self: center;
  color: #c4c6d8;
  margin-right: 1rem;
  cursor: pointer;
}

.task_input {
  background-color: white;
  border-bottom: 1px solid #c4c6d8;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: Quintessential, sans-serif;
  width: 85%;
  border: none;
  outline: none;
  margin-left: 1rem;
}

.task_container {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.task_container .task {
  display: flex;
  justify-content: space-between;
  font-family: Quintessential, sans-serif;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #c4c6d8;
  font-size: 1.2rem;
}

.checking {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  background-color: red;
  display: block;
}

.clear {
  text-align: center;
  padding: 1rem;
  color: #9497ae;
  font-family: Quintessential, sans-serif;
  font-size: 1.5rem;
}

.clear .finish {
  cursor: pointer;
}

.the_task {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delete_task {
  color: rgb(233, 47, 47);
  align-self: center;
  cursor: pointer;
  margin-right: 1rem;
}

.the_task .to_do {
  width: 20rem;
  overflow: scroll;
}

.marked {
  text-decoration: line-through;
  color: #e66465;
}

@media (max-width: 600px) {
  .to_do_list_container {
    width: 25rem;
  }

  .the_task .to_do {
    width: 15rem;
  }

  .the_task {
    gap: 0;
  }
}
